div.devicePreview {
    position: relative;

    background: #000;

    margin: 8px;
    padding: 8px;
    border-radius: 10px;

    overflow: hidden;

    div.lights {
        position: absolute;
        left: 8px;
        top: 8px;

        div {
            --entity-led: #000;

            position: absolute;
            width: 80px;
            height: 80px;

            background: radial-gradient(closest-side, var(--entity-led), transparent);

            transform: translate(-50%, -50%);
        }
    }

    div.objects {
        position: absolute;
        left: 8px;
        top: 8px;

        div.entityPreview {
            --entity-led: #000;
    
            position: absolute;
    
            background: linear-gradient(#111, #111d);
            color: var(--entity-led);
    
            border-radius: 2px;

            display: flex;
            align-items: center;
            justify-content: center;
    
            &.dimensionless {
                width: 16px;
                height: 16px;
    
                border-radius: 8px;
            }
        }
    }
}