body > header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    background: var(--app-toolbar);
    color: var(--app-color);
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;

    div.buttons {
        display: flex;
        justify-content: space-between;
        -webkit-app-region: drag;

        div.menu {
            display: flex;
            -webkit-app-region: no-drag;
    
            button {
                background: transparent;
                color: var(--app-color);

                font-family: "Inter";

                border: none;
                outline: none;
                padding: 8px 16px;

                &:hover {
                    background: var(--app-button-hover);
                }

                &:active {
                    background: var(--app-button-active);
                }
            }
        }

        div.wm {
            display: flex;
            -webkit-app-region: no-drag;
    
            button {
                width: 48px;

                background: transparent;

                border: none;
                outline: none;
                padding: 8px 16px;

                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: var(--app-button-hover);
                }

                &:active {
                    background: var(--app-button-active);
                }

                img {
                    width: 12px;
                    height: 12px;

                    filter: invert(1);
                }
            }
        }
    }

    nav {
        padding: 0px 16px;

        display: flex;

        div.tabButton {
            background: var(--node-bg);
            color: var(--app-color);

            font-size: 10pt;

            padding: 8px 16px;
            border-radius: 4px 4px 0px 0px;
        }
    }
}