body > header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    background: var(--app-toolbar);
    color: var(--app-color);
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;

    div.buttons {
        display: flex;
        justify-content: space-between;
        -webkit-app-region: drag;

        & > div {
            display: flex;
            -webkit-app-region: no-drag;
        }
    
        button {
            background: transparent;
            color: var(--app-color);

            font-family: "Inter";

            border: none;
            outline: none;
            padding: 8px 16px;

            &.name::after {
                content: " - Delight";

                opacity: 0.5;
            }

            &:hover {
                background: var(--app-button-hover);
            }

            &:active {
                background: var(--app-button-active);
            }

            img {
                width: 12px;
                height: 12px;

                filter: invert(1);
            }
        }

        div.controls {
            button {
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

body.modified > header div.context > button::before {
    content: "*";
}

body.playing > header {
    background: var(--app-toolbar-playing);

    button.play {
        background: var(--razer);
        
        img {
            filter: invert(0);
        }
    }
}