body > header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    background: var(--app-toolbar);
    color: var(--app-color);
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;

    div.buttons {
        display: flex;
        justify-content: space-between;
        -webkit-app-region: drag;

        div.menu {
            display: flex;
            -webkit-app-region: no-drag;
    
            button {
                background: transparent;
                color: var(--app-color);

                font-family: "Inter";

                border: none;
                outline: none;
                padding: 8px 16px;

                &:hover {
                    background: var(--app-button-hover);
                }

                &:active {
                    background: var(--app-button-active);
                }
            }
        }

        div.context {
            position: relative;
            -webkit-app-region: no-drag;
    
            button {
                background: transparent;
                color: var(--app-color);

                font-family: "Inter";

                border: none;
                outline: none;
                padding: 8px 16px;

                &::after {
                    content: "";

                    font-family: "Segoe MDL2 Assets"; // Temporary

                    margin-left: 12px;
                }

                &:hover {
                    background: var(--app-button-hover);
                }

                &:active {
                    background: var(--app-button-active);
                }
            }
        }

        div.wm {
            display: flex;
            -webkit-app-region: no-drag;
    
            button {
                width: 48px;

                background: transparent;

                border: none;
                outline: none;
                padding: 8px 16px;

                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background: var(--app-button-hover);
                }

                &:active {
                    background: var(--app-button-active);
                }

                img {
                    width: 12px;
                    height: 12px;

                    filter: invert(1);
                }
            }
        }
    }
}