:root {
    --app-toolbar: rgba(20, 20, 20, 0.603);
    --app-color: #fff;
    --app-button-hover: #fff1;
    --app-button-active: #fff2;

    --node-bg: #333;

    --selected: rgb(247, 213, 61);
    --locked: rgb(223, 31, 47);

    --node-general: rgba(102, 102, 102, 0.867);
    --node-comment: rgba(145, 145, 145, 0.867);
    --node-math: rgba(82, 96, 112, 0.867);
    --node-razer: rgba(44, 44, 44, 0.867);
    --node-audio: rgba(108, 88, 116, 0.867);
    --node-number: rgba(101, 114, 91, 0.867);
    --node-color: rgba(114, 110, 94, 0.867);

    --socket-general: #666;
    --socket-number: #25dd6c;
    --socket-colortype: #e7ab29;
    --socket-fft: #bb29f5;
    --socket-vector: #2f82fd;
}