:root {
    --app-toolbar: rgba(20, 20, 20, 0.603);
    --app-color: #fff;
    --app-button-hover: #fff1;
    --app-button-active: #fff2;

    --node-bg: #333;

    --selected: rgb(247, 213, 61);
    --locked: rgb(223, 31, 47);

    --node-general: #666d;
    --node-comment: #555137dd;
    --node-math: rgba(82, 96, 112, 0.867);
    --node-razer: #666d;

    --socket-general: #666;
    --socket-number: #25dd6c;
    --socket-colortype: #e7ab29;
    --socket-fft: #6c3bf3;
}