@import url("./colors.scss");

body {
    font-family: "Inter";

    user-select: none;
}

canvas.connections {
    position: absolute;
    left: 0;
    top: 0;
    
    pointer-events: none;
}

div.nodeGrid {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background: #333;
}