@keyframes NodeAppearAnim {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

div.node {
    position: absolute;
    width: 144px;

    background: var(--node-general);

    padding-bottom: 8px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 2px #0003,
                0px 6px 12px #0001,
                0px 2px 2px #0001;
    
    animation: NodeAppearAnim 0.15s;
    
    &.comment {
        background: var(--node-comment);
    }
    &.razer {
        background: var(--node-razer);
    }
    &.audio {
        background: var(--node-audio);
    }
    &.color {
        background: var(--node-color);
    }
    &.number {
        background: var(--node-number);
    }

    &.current {
        box-shadow: inset 0px 0px 0px 2px var(--selected),
                    0px 6px 12px #0001,
                    0px 2px 2px #0001;
        
        z-index: 9999;
    }
    
    &.locked {
        box-shadow: inset 0px 0px 0px 2px var(--locked),
                    0px 6px 12px #0001,
                    0px 2px 2px #0001;
    }


    &.collapsed {
        width: 40px;
        padding-bottom: 0px;

        & > header {
            margin-bottom: 0px;
            border-radius: 8px;

            p {
                display: none;
            }
        }

        & > *:not(header) {
            display: none;
        }
    }

    & > header {
        background: #0000002C;

        padding: 8px 12px;
        margin-bottom: 4px;
        border-radius: 8px 8px 0px 0px;

        display: flex;
        align-items: center;

        * {
            pointer-events: none;
        }

        img {
            width: 16px;
            height: 16px;

            opacity: 0.5;

            filter: invert(1) drop-shadow(0px 1px 0px #0006);
        }

        p {
            color: #fff;

            font-family: "Titillium Web";
            font-size: 10pt;
            font-weight: 400;
            line-height: 1;
            text-shadow: 0px 1px 0px #0003;

            margin: 0px 0px 0px 8px;

            flex-grow: 1;
        }
    }

    div.socket {
        --socket-color: var(--socket-general);
        
        position: relative;

        padding: 4px 12px;

        div.plug {
            position: absolute;
            top: 50%;
            left: 1px;
            width: 12px;
            height: 12px;

            background: var(--socket-color);
            
            border-radius: 50%;
            box-shadow: inset 0px 0px 0px 2px #0005;

            transform: translate(-50%, -50%);
        }

        &.connected div.plug {
            box-shadow: inset 0px 0px 0px 2px #fff7;
        }

        &.output {
            div.plug {
                left: unset;
                right: 1px;

                border-radius: 2px;

                transform: translate(50%, -50%);
            }

            p {
                text-align: right;
            }
        }

        &.option div.plug {
            display: none;
        }

        p {
            color: #fff;

            font-size: 9pt;
            text-shadow: 0px 1px 0px #0003;

            margin: 0px;
        }

        &.hiddenHeader p {
            display: none;
        }

        & > *:last-child {
            margin-top: 4px;
        }

        &:not(.adjustable) > *:last-child,
        &.input.connected > *:last-child {
            display: none;
        }
    }
}