div.socket.button {
    div.type {
        button {
            width: calc(100%);

            background: #333;
            color: #fff;

            font-family: "Inter";
            font-size: 9pt;
            
            outline: none;
            border: none;
            padding: 4px 8px;
            border-radius: 4px;
            box-shadow: inset 0px 0px 0px 2px #0003;

            &:hover {
                box-shadow: inset 0px 0px 0px 2px var(--selected);
            }

            &:active {
                background: var(--selected);
                color: #000;
            }
        }
    }
}